<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Jupyter Notebook practice

### Introduction in Data Science
##### Data Science is a process to use data for to understand different things. Data science is the art of uncovering the insights and trends behind data.
##### For data science, there are currently several applications and plugins that allow you to analyze large amounts of data, make graphical presentations, share publications, among other tasks.

##### Currently there are different data science languages, among which we can mention:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

##### As a complement, there are some data science libraries:
* Scikit-learn library
* NumPy library
* Spark library
* Seaborn library
* Scala llibrary
* Spark library
* Pandas library
* ggplot2 library
* others API libraries

# Data Science Tools
| Tool | Description |
| ---- | ----------- |
| Apache Spark | Open-source data to process and analyze large amount of data. |
| IBM SPSS | Software to manage and analyze statistical data. |
| Julia | Open-source programming language used for machine learning. |
| Jupyter Notebook | Open-source application for interactive collaboration. |
| Keras | To build the standard deeep learning model |
| Matplotlib | A library used for Python to scientific compute |
| NumPy | A library used for Python to implement more powerful math base frameworks |
| Python | Open-source programming language used in the data science industry. |
| R | Free software used to develop statistical data |
| Scikit-learn | A library used for Python contains tools for statistical modeling |

In [8]:
# Arithmetic expression samples (addition):
514 + 450

964

In [9]:
# Arithmetic expression samples (difference):
2140 - 780

1360

In [10]:
# Arithmetic expression samples (division):
451 / 7

64.42857142857143

In [11]:
# Exercise: Code cell to multiply and add numbers
1390 * 3 + 124

4294

In [12]:
# Exercise: Code cell to convert minutes to hours
dato = int(input("Input time in minutes: "))
hora = dato / 60
print(hora)

Input time in minutes:  15

0.25

#### Objectives
* Download and install Anaconda
* Create Anaconda Environment for R and Python
* Install and run Jupyter Notebook

### Author
#### Jos√© Manuel Liza Avalos